:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --primary: #d81b60;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="light"],
main:not([data-theme="dark"]) {
  --primary: #f4511e;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #fff;
}
[data-theme="dark"],
main:not([data-theme="light"]) {
  --primary: #fb8c00;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #fff;
}

/* ... (previous CSS rules) */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center children vertically */
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
  transform: translateY(-2rem);
}

.header-left {
  display: flex;
  align-items: center; /* Center children vertically */
  justify-content: center;
}

.header-title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  transform: translateY(2rem);
}

.header-logo {
  width: 100px;
  height: 100px;
}

.button {
  background-color: white;
  border: 5px solid #555555;
  color: black;
  transform: translateY(1rem);
  border-radius: 0.5rem;
}
